body {
    background-color: #f1f1f1;
    font-family: Arial;
}

h3 {
    text-align: center;
    font-size: 14pt;
}

.fsDadosPessoais {
    background-color: lightblue;
}
.fsDadosProf {
    background-color: lightcoral;
}
.fsAcoes{
    background-color: lightgreen;
    text-align: center;
}

fieldset{
    border-style: dotted;
    border-color: black;
}

input, textarea, select {
    background-color: khaki;
}

.botaoEnviar{
    background-color: green;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    padding: 5px 10px 5px 10px;
}

.botaoLimpar{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}